*{  
    margin: 0;
    box-sizing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Raleway:wght@300;700&display=swap');



body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*index*/
.encabezado{
    height: 100vh;
    background-image: url(../Imagenes/Logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    object-fit: cover;
    font-size: 20px;
    padding-top: 10px;
    position: relative;
}
.nav{
    background-color: #d9c0aa;
}
.navItems{
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
}
.nav-link:hover{
    color: #3866f2;
}
.onda{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}
.contenedorSeccion{
    min-height: 100vh;
    background-image: url(../Imagenes/relax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 20px;
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.onda2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}
.tratamientosTitulo{
    font-size: 60px;
    font-family: 'Ms Madi', cursive;
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.tratamientos{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    padding-left: 0px;
}
.tratamientosItem{
    width: 500px;
    justify-content: center;
}
.conoceMas{
    display: inline-block;
    color: black;
    text-decoration: none;
    border: solid 3px black;
    border-radius: 30px;
    padding: 5px 20px;
}
.textoTratamientosItem{
    padding: 5px 0px 30px 0px;
}

/*Contactame Ahora*/
.encabezadoContactame{
    display: flex;
    background-color: #d9c0aa;
    justify-content: end;
    height: 60px;
    font-size: 20px;
}
.navItemsContactame{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.contacto{
    width: 100%;
    min-height: 80vh;
    margin: auto;
    background-color: #eae3d3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .3fr 1fr .1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "email email email"
    "social social social";
}
.contenedorTituloContactate{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloContactate{
    font-size: 50px;
}
.contenedorContacto{
    grid-area: email;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    background-color: #d9c0aa;
    border-radius: 10px;
    padding: 3em 2em;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}
.formularioTitulo{
    font-size: 2rem;
    margin-bottom: .5em;
}
.formularioParrafo{
    font-weight: 300;
}
.formularioLink{
    font-weight: 400;
    color: black;
}
.formularioContenido{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.formularioGrupo{
    position: relative;
    --color: #5757577e;

}
.formularioEntrada{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}
.formularioEntrada:not(:placeholder-shown){
    color: #4d4646;
}
.formularioEntrada:focus + .formularioEtiqueta,
.formularioEntrada:not( :placeholder-shown ) + .formularioEtiqueta{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}
.formularioEntradaTexto{
    resize: none;
    padding: 1.8em .5em;
}
.formularioEtiqueta{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: .5s, color .3s;
}
.formularioEnviar{
    background: #3866f2;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}
.formularioLinea{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}
.formularioEntrada:focus + .formularioLinea,
.formularioEntrada:not( :placeholder-shown ) ~ .formularioLinea{
    transform: scale(1);
}
.contactoSocial{
    grid-area: social;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.icoSocial{
    width: 60px;
}
.textoSocialContacto{
    color: black;
    text-decoration: none;
}

/*Lole Sier*/
.lole{
    background-color: #eae3d3;
}
.encabezadoLole{
    display: flex;
    background-color: #d9c0aa;
    justify-content: end;
    height: 60px;
    font-size: 20px;
}
.navItemsLole{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.contenedorLole{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr auto;
    grid-template-areas: 
    "titulo titulo"
    "foto parrafo";
}
.contenedorTituloLole{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorimagenLole{
    grid-area: foto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorParrafo{
    grid-area: parrafo;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.imagenLole{
    width: 300px;
    border-radius: 20px;
}
.tituloLole{
    font-size: 60px;
    font-weight: 300px;
    color: dimgray;
}
.parrafoLole{
    font-size: 40px;
    color: dimgray;
}

/*tratamientos*/
.encabezadoTratamientos{
    display: flex;
    justify-content: end;
    background-color: #d9c0aa;
    height: 60px;
    font-size: 20px;
}
.navItemsTratamientos{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.tratamientosMain{
    background-color: #eae3d3;
}
.tratamientos{
    max-width: 480px;
    margin: auto;
    gap: 20px;
}
.tratamientosItems{
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.3);
    background-color: white;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
.tratamientosItems:hover{
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}
.tratamientosItems > img{
    width: 100%;
    object-fit: cover;
}
.tratamientosTexto{
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1em;
    display: flex;
    flex-flow: column;
}

/*tienda*/
.encabezadoTienda{
    display: flex;
    background-color: #d9c0aa;
    justify-content: end;
    height: 60px;
    font-size: 20px;
}
.navItemsTienda{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.tiendamain{
    background-color: #eae3d3;
}
.tienda{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: 1fr;
    grid-gap: 1em;
}
.tiendaItem{
    max-width: 280px;
    background-color: white;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
.tiendaItem:hover{
    box-shadow: 0 0 .5em rgba(0, 0, 0, 0.3);
}
.tiendaItem > img{
    width: 100%;
    object-fit: cover;
}
.tiendaInformacionTexto{
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1em;
    display: flex;
    flex-flow: column;
}

/*Galeria*/
.encabezadoGaleria{
    display: flex;
    background-color: #d9c0aa;
    justify-content: end;
    height: 60px;
    font-size: 20px;
}
.galeriaImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 10px;
}

/*Footer*/
.footer{
    margin-top: auto;
    background-color: #d9c0aa;
}
.enlaces{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.navFooterItem{
    color: white;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}
.derechos{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.socialFooter{
    display: flex;
}
.fa-brands{
    display: flex;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.textoSocialFooter{
    font-size: 10px;
    color: white;
}
.fa-instagram{
    padding-left: 30px;
}

@media only screen and (max-width:450px){
    body{
        background-color: #d9c0aa;
    }
    .encabezado{
        background-size: 100%;
    }
    .tratamientosItem{
        width: 400px;
    }
    .nav-link{
        color: #a8a5a5;
    }
    .arriba{
        z-index: 2;
    }
    .tituloContactate{
        font-size: 30px;
    }
    .formulario{
        padding: 1.5em 1em;
    }
    .navFooter{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navFooterItem{
        font-size: 16px;
        padding: 10px;
    }
    .socialFooter{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .fa-instagram{
        padding-left: 0px;
    }
    .fa-whatsapp{
        padding-right: 10px;
    }
    .derechos{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    .copy{
        font-size: 10px;
    }
    .leyenda{
        font-size: 10px;
    }
}

@media only screen and (min-width:451px) and (max-width:960px){
    .nav-link{
        color: #706c6c;
    }
    .arriba{
        z-index: 2;
    }
}